<table class="tbl tbl-aula tbl-consultor">
    <colgroup>
        <col>
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
    </colgroup>
    {% for activitat in aula.activitats %}
    <tbody class="acc activ-acc" data-guaita-assignatura="{{ aula.codAssignatura }}" data-guaita-domainId="{{ aula.domainId }}" data-guaita-anyacademic="{{ aula.anyAcademic }}" data-guaita-codAula="{{ aula.codAula }}" data-guaita-domainIdAula="{{ aula.domainIdAula }}" data-guaita-domainCode="{{ aula.domainCode }}" data-guaita-eventId="{{ activitat.eventId }}" data-guaita-idp="{{ aula.idp }}" data-guaita-s="{{ aula.s }}"> 
        <tr>
            <td>
                <span class="activ-item">
                    <a href="#activ_consultor_{{ activitat.eventId }}" class="lnk-expand" title="{{ t('expandeix') }}"></a>
                    <span class="lbl">{{ activitat.nom }}</span>
                </span>
            </td>
            {% set element = activitat %}
            <td class="bd">{{ element.resum.comunicacio.clicsAcumulats }}</td>
            <td class="bd-open">{{ element.resum.comunicacio.ultimaConnexio }}</td>
            <td class="bd-open">-</td>
            <td class="bd-open">-</td>
        </tr>
        <tr class="tr-wrap">
            <td colspan="5" class="td-wrap"><div class="acc-content" id="activ_consultor_{{ activitat.eventId }}"></div></td>
        </tr>
    </tbody>
    {% endfor %}
</table>