<table class="tbl tbl-aula">
    <colgroup>
        <col>
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
    </colgroup>
    <tbody class="acc activ-acc">
        <tr>
            <td>
                <span class="activ-item">
                    <a href="#activ_consultor_1" class="lnk-expand" title="expandir"></a>
                    <span class="lbl">Actividad 1</span>
                </span>
            </td>
            <td class="bd">136</td>
            <td class="bd-open">11</td>
            <td class="bd-open">24</td>
            <td class="bd-open"></td>
        </tr>
        <tr class="tr-wrap">
            <td colspan="5" class="td-wrap"><div class="acc-content" id="activ_consultor_1"></div></td>
        </tr>
    </tbody>
    <tbody class="acc activ-acc">
        <tr>
            <td>
                <span class="activ-item">
                    <a href="#activ_consultor_2" class="lnk-expand" title="expandir"></a>
                    <span class="lbl">Actividad 2</span>
                </span>
            </td>
            <td class="bd">136</td>
            <td class="bd-open">11</td>
            <td class="bd-open">24</td>
            <td class="bd-open"></td>
        </tr>
        <tr class="tr-wrap">
            <td colspan="5" class="td-wrap"><div class="acc-content" id="activ_consultor_2"></div></td>
        </tr>
    </tbody>
    <tbody class="acc activ-acc">
        <tr>
            <td>
                <span class="activ-item">
                    <a href="#activ_consultor_3" class="lnk-expand" title="expandir"></a>
                    <span class="lbl">Act 3 Lorem ipsum dolor sit amet sigma...</span>
                </span>
            </td>
            <td class="bd">136</td>
            <td class="bd-open">11</td>
            <td class="bd-open">24</td>
            <td class="bd-open"></td>
        </tr>
        <tr class="tr-wrap">
            <td colspan="5" class="td-wrap"><div class="acc-content" id="activ_consultor_3"></div></td>
        </tr>
    </tbody>
</table>