<li class="block accordion" id="module_1" data-id="1">

    <div class="block-head" data-guaita-assignatura="{{ assignatura.codi }}" data-guaita-domainId="{{ assignatura.domainId }}" data-guaita-anyacademic="{{ assignatura.anyAcademic }}">
        <h3><span class="lbl">{{ assignatura.codi }} {{ assignatura.title }}</span></h3>
        <ul class="block-top">
            <li><span class="icon-move-hidden" title="{{ t('ordena') }}"><i class="icon"></i></span></li>
        </ul>
    </div>
    
    
    <div id="content_1" class="block-content">
        {% include 'tabs_pra.html' %}
    </div>

    <div id="resum_1" class="block-resum">
        <table class="tbl tbl-resum">
            <caption>{{ t('resum') }}: {{ assignatura.title }}</caption>
            <colgroup>
                <col style="width:10%">
                <col style="width:6%">
                <col style="width:6%">
                <col style="width:12%">
                <col style="width:18%">
                <col style="width:18%">
                <col style="width:15%">
                <col style="width:15%">
            </colgroup>
            <thead>
                <tr>
                    <th rowspan="2">{{ t('aules_totals') }}</th>
                    <th colspan="2" class="bd">{{ t('estudiants') }}</th>
                    <th colspan="3" class="bd">{{ t('comunicacio_activitats_eines') }}</th>
                    <th colspan="2" class="bd">{{ t('avaluacio') }}</th>
                </tr>
                <tr>
                    <th class="bd"><span class="icon-student" title="{{ t('estudiants') }}"></span></th>
                    <th><span class="icon-repeater" title="{{ t('repetidors') }}"></span></th>
                    <th class="bd">{{ t('clics_acumulats') }}</th>
                    <th>{{ t('lectures_pendents_acumulades') }}</th>
                    <th><span class="em">{{ t('lectures_pendents') }} /</span> {{ t('participacions_totals') }}</th>
                    <th class="bd">{{ t('seguiment_ac') }}</th>
                    <th>{{ t('superacio_ac') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ assignatura.resum.aules.total }}</td>
                    <td class="bd">{{ assignatura.resum.estudiants.total }}</td>
                    <td>{{ assignatura.resum.estudiants.repetidors }}</td>
                    <td class="bd">{{ assignatura.resum.comunicacio.clicsAcumulats }}</td>
                    <td>{{ assignatura.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                    <td><span class="em">{{ assignatura.resum.comunicacio.lecturesPendents }} /</span> {{ assignatura.resum.comunicacio.participacions }}</td>
                    <td class="bd">{{ assignatura.resum.avaluacio.seguiment }}</td>
                    <td>{{ assignatura.resum.avaluacio.superacio }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</li><!-- /block -->