{% extends 'layout.html' %}
{% block title %}Aules: Pàgina d'aula{% endblock %}
{% set session = aula.s %}
{% set idp = aula.idp %}

{% block content %}

<!-- container -->
<div id="container" class="aula">

    <ul id="accessibility" class="visuallyhidden">
        <li><a href="#menu" accesskey="m" title="{{ t('acces_directe_menu_navegacio') }}">{{ t('acces_directe_menu_navegacio') }}</a></li>
        <li><a href="#content" accesskey="s" title="{{ t('acces_directe__contingut') }}">{{ t('acces_directe__contingut') }}</a></li>
    </ul>

    <noscript>
        <div class="alertjs-container">
            <div class="alertjs">
                <h5>{{ t('javascript_no_habilitat') }}</h5>
                <p>{{ t('activa_javaScript') }}</p>
            </div>
        </div>
    </noscript>

    <div id="main" class="clearfix">

        <div id="header">

            <div id="menu" class="nav clearfix">
                <a href="#" class="window-close">‹ {{ t('llista_complerta_aules') }}</a>
            </div>

        </div><!-- /header -->

        <div id="content" class="full-width">

            <div class="blocks">

                <div class="block" id="block-aula">
                    <div class="block-color c_{{ aula.color }}"></div>
                    <div class="block-head">
                        <h3>
                            <span class="lbl-subject">{{ aula.codAssignatura }} {{ aula.nomAssignatura }}:</span>
                            <span class="lbl-aula">{{ t('aula') }} {{ aula.codAula }}</span>
                            {% if aula.consultor.nomComplert != 'N/D' %}
                            <span> - </span>
                            <span class="lbl-user">{{ aula.consultor.nomComplert }}</span>
                            {% endif %}
                            <span class="right">{{ aula.anyAcademic}}</span>
                        </h3>
                    </div>
                    
                    <div id="content_2" class="block-content">

                        <div class="block-inside tbl-inside">
                            <div class="tabs">
                                <ul>
                                    <li><a href="#tabs-1" class="tab">{{ t('activitats') }}</a></li>
                                    <li><a href="#tabs-2" class="tab">{{ t('eines') }}</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <div class="options">
                                        <a href="#" class="lnk-contact-all LaunchesOWin" target="_blank"><i class="icon"></i>{{ t('escriure_seleccionats') }} <i class="arrow"></i></a>
                                    </div>
                                    <table class="tbl tbl-subject tbl-users">
                                        <caption>{{ t('activitats') }}</caption>
                                        <colgroup>
                                            <col>
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="check-all-users" name="check_all_users_1" id="check_all_users_1"><label for="check_all_users_1">{{ t('seleccionar_tots') }} ({{ aula.totalEstudiants }})</label>
                                                </th>
                                                <th>{{ t('clics_acumulats') }}</th>
                                                <th>{{ t('lectures_pendents_acumulades') }}</th>
                                                <th>{{ t('participacions') }}</th>
                                                <th>{{ t('ultima_connexio') }}</th>
                                            </tr>
                                        </thead>
                                        {% for estudiant in aula.estudiants %}
                                        <tbody class="acc activ-aula-acc" data-guaita-idp="{{ estudiant.idp }}" data-guaita-assignatura="{{ aula.codAssignatura }}" data-guaita-domainId="{{ aula.domainId }}" data-guaita-anyacademic="{{ aula.anyAcademic }}" data-guaita-codAula="{{ aula.codAula }}" data-guaita-domainIdAula="{{ aula.domainIdAula }}" data-guaita-domainCode="{{ aula.domainCode }}" data-guaita-s="{{ aula.s }}">
                                            <tr>
                                                <td>
                                                    <span class="user-item">
                                                        <a href="#item_1_{{ estudiant.idp }}" class="lnk-expand" title="{{ t('expandeix') }}"></a>
                                                        <input type="checkbox" class="check-user" name="check_users_1[]" value="{{ estudiant.idp }}" data-guaita-username="{{ estudiant.nomComplert }}">
                                                        <a href="{{ estudiant.fitxa }}" class="lnk-user LaunchesOWinInactive" title="{{ t('fitxa_usuari') }}">{{ estudiant.nomComplert }}</a>
                                                    </span>
                                                </td>
                                                <td class="bd">{{ estudiant.resum.comunicacio.clicsAcumulats }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.participacions }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.ultimaConnexio }}</td>
                                            </tr>
                                            <tr class="tr-wrap">
                                                <td colspan="5" class="td-wrap"><div class="acc-content" id="item_1_{{ estudiant.idp }}"></div></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div id="tabs-2">
                                    <div class="options">
                                        <a href="#" class="lnk-contact-all LaunchesOWin" target="_blank"><i class="icon"></i>{{ t('escriure_seleccionats') }} <i class="arrow"></i></a>
                                    </div>
                                    <table class="tbl tbl-subject tbl-users">
                                        <caption>{{ t('eines') }}</caption>
                                        <colgroup>
                                            <col>
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="check-all-users" name="check_all_users_2" id="check_all_users_2"><label for="check_all_users_2">{{ t('seleccionar_tots') }}</label>
                                                </th>
                                                <th>{{ t('clics_acumulats') }}</th>
                                                <th>{{ t('lectures_pendents_acumulades') }}</th>
                                                <th>{{ t('participacions') }}</th>
                                                <th>{{ t('ultima_connexio') }}</th>
                                            </tr>
                                        </thead>
                                        {% for estudiant in aula.estudiants %}
                                        <tbody class="acc tools-aula-acc" data-guaita-idp="{{ estudiant.idp }}" data-guaita-domainId="{{ aula.domainId }}" data-guaita-domainIdAula="{{ aula.domainIdAula }}" data-guaita-s="{{ aula.s }}">
                                            <tr>
                                                <td>
                                                    <span class="user-item">
                                                        <a href="#item_2_{{ estudiant.idp }}" class="lnk-expand" title="{{ t('expandeix') }}"></a>
                                                        <input type="checkbox" class="check-user" name="check_users_2[]" value="{{ estudiant.idp }}" data-guaita-username="{{ estudiant.nomComplert }}">
                                                        <a href="#" class="lnk-user LaunchesOWinInactive" title="{{ t('fitxa_usuari') }}">{{ estudiant.nomComplert }}</a>
                                                    </span>
                                                </td>
                                                <td class="bd">{{ estudiant.resum.comunicacio.clicsAcumulats }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.participacions }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.ultimaConnexio }}</td>
                                            </tr>
                                            <tr class="tr-wrap">
                                                <td colspan="5" class="td-wrap"><div class="acc-content" id="item_2_{{ estudiant.idp }}"></div></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>

                            <div class="tabs-links-wrap">
                                <div class="tabs-links">                                    
                                    <a href="http://cv.uoc.edu/webapps/rac/RacInici.action?s={{ aula.s }}&domainId={{ aula.domainIdAula }}" class="lnk-extern">{{ t('ves_rac') }}<i class="icon"></i></a>
                                    <a href="{{ aula.link }}" class="lnk-extern">{{ t('ves_aula') }}<i class="icon"></i></a>
                                    <a href="http://cv.uoc.edu/tren/trenacc/web/GAT_EXP.PLANDOCENTE?any_academico={{ aula.anyAcademic }}&cod_asignatura={{ aula.codAssignatura }}&idioma=CAT&pagina=PD_PREV_PORTAL&cache=S" class="lnk-extern">{{ t('fitxa_assignatura') }}<i class="icon"></i></a>
                                    <a href="{{ aula.linkedicioaula }}" class="lnk-extern">{{ t('disseny_aula') }}<i class="icon"></i></a>
                                </div>
                            </div>
                            
                        </div><!-- /block-inside -->

                    </div><!-- /block-content -->

                </div><!-- /block -->

            </div><!-- /blocks -->


        </div><!-- /content -->

    </div><!-- /main -->

    <div id="footer" class="clearfix"></div>
    <div id="sombra-top"></div>

</div><!-- /container -->

<script type="text/javascript" src="/app/guaita/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/app/guaita/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/app/guaita/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/app/guaita/js/spin.min.js"></script>
<script type="text/javascript" src="/app/guaita/js/helper.js"></script>
<script type="text/javascript" src="/app/guaita/js/aulas.js"></script>
<script>
    $(document).ready(function() {
        UOCAulas.init('aula', '{{ session }}', '{{ idp }}');
    });
</script>
{% endblock %}