{% extends 'layout.html' %}
{% block title %}Aules: Pàgina d'aula{% endblock %}
{% block content %}
<!-- container -->
<div id="container" class="aula">

    <ul id="accessibility" class="visuallyhidden">
        <li><a href="#menu" accesskey="m" title="Accés directe al menú de navegació">Accés directe al menú de navegació</a></li>
        <li><a href="#content" accesskey="s" title="Accés directe al contingut">Accés directe al contingut</a></li>
    </ul>

    <noscript>
        <div class="alertjs-container">
            <div class="alertjs">
                <h5>JavaScript no está habilitado en tu navegador</h5>
                <p>Para acceder a todas las características, activa JavaScript o actualiza tu navegador con una versión que acepte JavaScript.</p>
            </div>
        </div>
    </noscript>

    <div id="main" class="clearfix">

        <div id="header">

            <div id="menu" class="nav clearfix">
                <a href="aulas_pra.html">‹ Tornar a la llista complerta d'aules</a>
            </div>

        </div><!-- /header -->

        <div id="content" class="full-width">

            <div class="blocks">

                <div class="block" id="block-aula">
                    <div class="block-color c_66AA00"></div>
                    <div class="block-head">
                        <h3>
                            <span class="lbl-subject">{{ aula.codAssignatura }} {{ aula.nomAssignatura }}:</span>
                            <span class="lbl-aula">Aula {{ aula.codAula }} - </span>
                            <span class="lbl-user">{{ aula.consultor.nomComplert }}</span>
                        </h3>
                    </div>
                    
                    <div id="content_2" class="block-content">

                        <div class="block-inside tbl-inside">
                            <div class="tabs">
                                <ul>
                                    <li><a href="#tabs-1" class="tab">Activitats</a></li>
                                    <li><a href="#tabs-2" class="tab">Eines</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <div class="options">
                                        <a href="#" class="lnk-contact-all LaunchesOWin" target="_blank"><i class="icon"></i>Escriure als seleccionats <i class="arrow"></i></a>
                                    </div>
                                    <table class="tbl tbl-subject tbl-users">
                                        <caption>Activitats</caption>
                                        <colgroup>
                                            <col>
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="check-all-users" name="check_all_users_1" id="check_all_users_1"><label for="check_all_users_1">Seleccionar tots</label>
                                                </th>
                                                <th>Clics acumulats</th>
                                                <th>Lescures pendents acumulades</th>
                                                <th>Participacions</th>
                                                <th>Última connexió</th>
                                            </tr>
                                        </thead>
                                        {% for estudiant in aula.estudiants %}
                                        <tbody class="acc activ-aula-acc" data-guaita-idp="{{ estudiant.tercer[0].idp }}" data-guaita-domainId="{{ aula.domainId }}" data-guaita-domainIdAula="{{ aula.domainIdAula }}" data-guaita-s="{{ aula.s }}">
                                            <tr>
                                                <td>
                                                    <span class="user-item">
                                                        <a href="#item_1_{{ estudiant.tercer[0].idp }}" class="lnk-expand" title="expandir"></a>
                                                        <input type="checkbox" class="check-user" name="check_users_1[]" value="{{ estudiant.tercer[0].idp }}">
                                                        <a href="#" class="lnk-user LaunchesOWin" title="fitxa d'usuari">{{ estudiant.nomComplert }}</a>
                                                    </span>
                                                </td>
                                                <td class="bd">{{ estudiant.resum.comunicacio.clicsAcumulats }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.participacions }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.ultimaConnexio }}</td>
                                            </tr>
                                            <tr class="tr-wrap">
                                                <td colspan="5" class="td-wrap"><div class="acc-content" id="item_1_{{ estudiant.tercer[0].idp }}"></div></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                                <div id="tabs-2">
                                    <div class="options">
                                        <a href="#" class="lnk-contact-all LaunchesOWin" target="_blank"><i class="icon"></i>Escriure als seleccionats <i class="arrow"></i></a>
                                    </div>
                                    <table class="tbl tbl-subject tbl-users">
                                        <caption>Eines</caption>
                                        <colgroup>
                                            <col>
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                            <col style="width:18%">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" class="check-all-users" name="check_all_users_2" id="check_all_users_2"><label for="check_all_users_2">Seleccionar tots</label>
                                                </th>
                                                <th>Clics acumulats</th>
                                                <th>Lescures pendents acumulades</th>
                                                <th>Participacions</th>
                                                <th>Última connexió</th>
                                            </tr>
                                        </thead>
                                        {% for estudiant in aula.estudiants %}
                                        <tbody class="acc tools-aula-acc">
                                            <tr>
                                                <td>
                                                    <span class="user-item">
                                                        <a href="#item_2_{{ estudiant.tercer[0].idp }}" class="lnk-expand" title="expandir"></a>
                                                        <input type="checkbox" class="check-user" name="check_users_2[]" value="{{ estudiant.tercer[0].idp }}">
                                                        <a href="#" class="lnk-user LaunchesOWin" title="fitxa d'usuari">{{ estudiant.nomComplert }}</a>
                                                    </span>
                                                </td>
                                                <td class="bd">{{ estudiant.resum.comunicacio.clicsAcumulats }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.participacions }}</td>
                                                <td class="bd-open">{{ estudiant.resum.comunicacio.ultimaConnexio }}</td>
                                            </tr>
                                            <tr class="tr-wrap">
                                                <td colspan="5" class="td-wrap"><div class="acc-content" id="item_2_{{ estudiant.tercer[0].idp }}"></div></td>
                                            </tr>
                                        </tbody>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>

                            <div class="tabs-links-wrap">
                                <div class="tabs-links">
                                    <a href="https://cv.uoc.edu/webapps/rac/listEstudiant.action?s={{ aula.s }}&domainId={{ aula.domainId }}&javascriptDisabled=false" class="lnk-extern">Anar al RAC<i class="icon"></i></a>
                                    <a href="https://cv.uoc.edu/webapps/aulaca/classroom/Classroom.action?s={{ aula.s }}&domainId={{ aula.domainIdAula }}" class="lnk-extern">Anar a l'aula<i class="icon"></i></a>
                                    <a href="http://cv.uoc.edu/tren/trenacc/web/GAT_EXP.PLANDOCENTE?any_academico={{ aula.anyAcademic }}&cod_asignatura={{ aula.codAssignatura }}&idioma=CAT&pagina=PD_PREV_PORTAL&cache=S" class="lnk-extern">Fitxa de l'assignatura<i class="icon"></i></a>
                                    <a href="https://cv.uoc.edu/webapps/aulaca/classroom/Edit.action?s={{ aula.s }}&domainId={{ aula.domainId }}" class="lnk-extern">Disseny de l'aula<i class="icon"></i></a>
                                </div>
                            </div>
                            
                        </div><!-- /block-inside -->

                    </div><!-- /block-content -->

                </div><!-- /block -->

            </div><!-- /blocks -->


        </div><!-- /content -->

    </div><!-- /main -->

    <div id="footer" class="clearfix"></div>
    <div id="sombra-top"></div>

</div><!-- /container -->

<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/js/spin.min.js"></script>
<script type="text/javascript" src="/js/helper.js"></script>
<script type="text/javascript" src="/js/aulas.js"></script>
<script>
    $(document).ready(function() {
        UOCAulas.init('aula', '{{ session }}');
    });
</script>
{% endblock %}