{% extends 'tabs_pra.html' %}
{% block estudiants_eines %}
<colgroup>
    <col>
    <col style="width:6%">
    <col style="width:6%">
    <col style="width:22%">
    <col style="width:22%">
    <col style="width:22%">
</colgroup>
<thead>
    <tr>
        <th>Aules</th>
        <th><span class="icon-student" title="Estudiants"></span></th>
        <th><span class="icon-repeater" title="Repetidors"></span></th>
        <th>Clics acumulats</th>
        <th>Lectures pendents acumulades</th>
        <th><span class="em">Lectures pendents /</span> Participacions totals</th>
    </tr>
</thead>
<tbody class="totals">
    <tr>
        <td>Total:</td>
        <td>-</td>
        <td>-</td>
        <td class="bd">-</td>
        <td>-</td>
        <td><span class="em">- /</span> -</td>
    </tr>
</tbody>
{% for aula in object.aules %}
<tbody class="acc tools-student-acc">
    <tr>
        <td>
            <span class="aula-item">
                <a href="#item_2_{{ aula.codAula }}" class="lnk-expand" title="expandir"></a>
                <a href="#" class="lnk-aula c_FF2600" title="vés a l'aula">Aula {{ aula.codAula }}</a>
                <a href="aulas_individual.html" class="lnk-more" title="més"></a>
            </span>
        </td>
        <td>-</td>
        <td>-</td>
        <td class="bd">-</td>
        <td class="bd-open">-</td>
        <td class="bd-open"><span class="em">- /</span> -</td>
    </tr>
    <tr class="tr-wrap">
        <td colspan="6" class="td-wrap"><div class="acc-content" id="item_2_{{ aula.codAula }}"></div></td>
    </tr>
</tbody>
{% endfor %}
{% endblock %}