{% block estudiants_activitats %}
<div class="tab-content" id="tabs-1">
    <table class="tbl tbl-subject">
        <caption>{{ t('activitats_estudiants') }}</caption>
        <colgroup>
            <col>
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:22%">
            <col style="width:22%">
            <col style="width:22%">
        </colgroup>
        <thead>
            <tr>
                <th>{{ t('aules') }}</th>
                <th><span class="icon-student" title="{{ t('estudiants') }}"></span></th>
                <th><span class="icon-repeater" title="{{ t('repetidors') }}"></span></th>
                <th>{{ t('clics_acumulats') }}</th>
                <th><!--{{ t('lectures_pendents_acumulades') }}--></th>
                <th><!--<span class="em">{{ t('lectures_pendents') }} /</span> {{ t('participacions_totals') }}--></th>
            </tr>
        </thead>
        <tbody class="totals">
            <tr>
                <td>{{ t('total') }}:</td>
                <td>{{ assignatura.resum.estudiants.total }}</td>
                <td>{{ assignatura.resum.estudiants.repetidors }}</td>
                <td class="bd">{{ assignatura.resum.comunicacio.clicsAcumulats }}</td>
                <td><!--{{ assignatura.resum.comunicacio.lecturesPendentsAcumulades }}--></td>
                <td><!--<span class="em">{{ assignatura.resum.comunicacio.lecturesPendents }} /</span> {{ assignatura.resum.comunicacio.participacions }}--></td>
            </tr>
        </tbody>
        {% for aula in assignatura.aules %}
        <tbody class="acc activ-student-acc" data-guaita-assignatura="{{ assignatura.codAssignatura }}" data-guaita-domainId="{{ assignatura.domainId }}" data-guaita-anyacademic="{{ assignatura.anyAcademic }}" data-guaita-codAula="{{ aula.codAula }}" data-guaita-classroomId="{{ aula.classroomId }}" data-guaita-domainCode="{{ aula.domainCode }}">
            <tr>
                <td>
                    <span class="aula-item">
                        <a href="#item_1_{{ aula.codAula }}" class="lnk-expand" title="{{ t('expandeix') }}"></a>
                        <a href="{{ aula.link }}" class="lnk-aula c_{{ aula.color }}" title="vés a l'aula">{{ t('aula') }} {{ aula.codAula }}</a>
                    </span>
                </td>
                <td><a class="lnk-more-aula" href="{{ aula.linkdetall }}">{{ aula.resum.estudiants.total }}</a></td>
                <td><a class="lnk-more-aula" href="{{ aula.linkdetall }}">{{ aula.resum.estudiants.repetidors }}</a></td>
                <td class="bd">{{ aula.resum.comunicacio.clicsAcumulats }}</td>
                <td class="bd-open"><!--{{ aula.resum.comunicacio.lecturesPendentsAcumulades }}--></td>
                <td class="bd-open"><!--<span class="em">{{ aula.resum.comunicacio.lecturesPendents }} /</span> {{ aula.resum.comunicacio.participacions }}--></td>
            </tr>
            <tr class="tr-wrap">
                <td colspan="6" class="td-wrap"><div class="acc-content" id="item_1_{{ aula.codAula }}"></div></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}