{% block estudiants_avaluacio %}
<table class="tbl tbl-subject">
    <caption>Avaluació estudiants</caption>
    <colgroup>
        <col>
        <col style="width:6%">
        <col style="width:6%">
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
    </colgroup>
    <thead>
        <tr>
            <th>Aules</th>
            <th><span class="icon-student" title="Estudiants"></span></th>
            <th><span class="icon-repeater" title="Repetidors"></span></th>
            <th>Seguiment AC</th>
            <th>Superació AC</th>
            <th>Data d'entrega</th>
        </tr>
    </thead>
    <tbody class="totals">
        <tr>
            <td>Total:</td>
            <td>{{ subject.resum.estudiants.total }}</td>
            <td>{{ subject.resum.estudiants.repetidors }}</td>
            <td class="bd">{{ subject.resum.avaluacio.seguiment }}</td>
            <td>{{ subject.resum.avaluacio.superacio }}</td>
            <td>-</td>
        </tr>
    </tbody>
    {% for aula in subject.aules %}
    <tbody class="acc eval-student-acc">
        <tr>
            <td>
                <span class="aula-item">
                    <a href="#item_3_{{ aula.codAula }}" class="lnk-expand" title="expandir"></a>
                    <a href="#" class="lnk-aula c_FF2600" title="vés a l'aula">Aula {{ aula.codAula }}</a>
                    <a href="aulas_individual.html" class="lnk-more" title="més"></a>
                </span>
            </td>
            <td>{{ aula.estudiants.total }}</td>
            <td>{{ aula.estudiants.repetidors }}</td>
            <td class="bd">{{ aula.comunicacio.clicsAcumulats }}</td>
            <td class="bd-open">{{ aula.comunicacio.lecturesPendentsAcumulades }}</td>
            <td class="bd-open"><span class="em">{{ aula.comunicacio.lecturesPendents }} /</span> {{ aula.comunicacio.participacions }}<        </tr>
        <tr class="tr-wrap">
            <td colspan="6" class="td-wrap"><div class="acc-content" id="item_3_{{ aula.codAula }}"></div></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}