{% block consultors_activitats %}
<div id="tabs-4">
    <div class="options">
        <!-- //TODO GUAITA-32
        <a href="#" class="lnk-contact-all LaunchesOWin" target="_blank"><i class="icon"></i>{{ t('escriure_seleccionats') }} <i class="arrow"></i></a>
        -->
    </div>
    <table class="tbl tbl-subject tbl-users">
        <caption>{{ t('activitats_consultors') }}</caption>
        <colgroup>
            <col>
            <col style="width:18%">
            <col style="width:18%">
            <col style="width:18%">
            <col style="width:18%">
        </colgroup>
        <thead>
            <tr>
                <th>
                    <input type="checkbox" class="check-all-users" name="check_all_users_4" id="check_all_users_4"><label for="check_all_users_4">{{ t('seleccionar_tots') }}</label>
                </th>
                <th>{{ t('clics_acumulats') }}</th>
                <th>{{ t('lectures_pendents_acumulades') }}</th>
                <th>{{ t('participacions') }}</th>
                <th>{{ t('ultima_connexio') }}</th>
            </tr>
        </thead>
        <tbody class="totals">
            <tr>
                <td>{{ t('total') }}:</td>
                <td class="bd">{{ aula.resum.comunicacio.clicsAcumulats }}</td>
                <td>{{ aula.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                <td>{{ aula.resum.comunicacio.participacions }}</td>
                <td>{{ aula.resum.comunicacio.ultimaConnexio }}</td>
            </tr>
        </tbody>
        {% for aula in assignatura.aules %}
        <tbody class="acc activ-consultor-acc" data-guaita-codAula="{{ aula.codAula }}" data-guaita-domainId="{{ assignatura.domainId }}" data-guaita-domainIdAula="{{ aula.domainIdAula }}" data-guaita-idp="{{ aula.consultor.idp }}" >
            <tr>
                <td>
                    <span class="user-item">
                        <a href="#item_4_{{ aula.codAula }}" class="lnk-expand" title="{{ t('expandeix') }}"></a>
                        <input type="checkbox" class="check-user" name="check_users_4[]" value="1">
                        <a href="{{ aula.consultor.fitxa }}" class="lnk-user LaunchesOWinInactive" title="{{ t('fitxa_usuari') }}">{{ aula.consultor.nomComplert }} - A{{ aula.codAula }}</a>
                    </span>
                </td>
                <td class="bd">{{ aula.consultor.resum.comunicacio.clicsAcumulats }}</td>
                <td class="bd-open">{{ aula.consultor.resum.comunicacio.lecturesPendentsAcumulades }}</td>
                <td class="bd-open">{{ aula.consultor.resum.comunicacio.participacions }}</td>
                <td class="bd-open">{{ aula.consultor.resum.comunicacio.ultimaConnexio }}</td>
            </tr>
            <tr class="tr-wrap">
                <td colspan="5" class="td-wrap"><div class="acc-content" id="item_4_{{ aula.codAula }}"></div></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}