{% block estudiants_avaluacio %}
<div id="tabs-3">
    <table class="tbl tbl-subject">
        <caption>{{ t('avaluacio_estudiants') }}</caption>
        <colgroup>
            <col>
            <col style="width:6%">
            <col style="width:6%">
            <col style="width:22%">
            <col style="width:22%">
            <col style="width:22%">
        </colgroup>
        <thead>
            <tr>
                <th>{{ t('aules') }}</th>
                <th><span class="icon-student" title="{{ t('estudiants') }}"></span></th>
                <th><span class="icon-repeater" title="{{ t('repetidors') }}"></span></th>
                <th>{{ t('seguiment_ac') }}</th>
                <th>{{ t('superacio_ac') }}</th>
                <th>{{ t('data_lliurament') }}</th>
            </tr>
        </thead>
        <tbody class="totals">
            <tr>
                <td>{{ t('total') }}:</td>
                <td>{{ assignatura.resum.estudiants.total }}</td>
                <td>{{ assignatura.resum.estudiants.repetidors }}</td>
                <td class="bd">{{ assignatura.resum.avaluacio.seguiment }}</td>
                <td>{{ assignatura.resum.avaluacio.superacio }}</td>
                <td>{{ assignatura.dataLliurament }}</td>
            </tr>
        </tbody>
        {% for aula in assignatura.aules %}
        <tbody class="acc eval-student-acc" data-guaita-codAula="{{ aula.codAula }}" data-guaita-domainId="{{ assignatura.domainId }}" data-guaita-domainIdAula="{{ aula.domainIdAula }}">
            <tr>
                <td>
                    <span class="aula-item">
                        <a href="#item_3_{{ aula.codAula }}" class="lnk-expand" title="{{ t('expandeix') }}"></a>
                        <a href="#" class="lnk-aula c_FF2600" title="vés a l'aula">{{ t('aula') }} {{ aula.codAula }}</a>
                        <a href="{{ aula.linkdetall }}" class="lnk-more" title="més"></a>
                    </span>
                </td>
                <td>{{ aula.resum.estudiants.total }}</td>
                <td>{{ aula.resum.estudiants.repetidors }}</td>
                <td class="bd">{{ aula.resum.avaluacio.seguiment }}</td>
                <td class="bd-open">{{ aula.resum.avaluacio.superacio }}</td>
                <td class="bd-open"></td>
            </tr>
            <tr class="tr-wrap">
                <td colspan="6" class="td-wrap"><div class="acc-content" id="item_3_{{ aula.codAula }}"></div></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}