<table class="tbl tbl-activ">
    <colgroup>
        <col>
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
    </colgroup>
    <tbody> 
        {% for activitat in activitat.eines %}
        <tr>
            <td><span class="lbl">{{ activitat.nom }}</span></td>
            <td class="bd">{{ activitat.resum.comunicacio.clicsAcumulats }}</td>
            <td class="bd-open"></td>
            <td class="bd-open"></td>
            <td class="bd-open"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>