<table class="tbl tbl-activ">
    <colgroup>
        <col>
        <col style="width:22%">
        <col style="width:22%">
        <col style="width:22%">
    </colgroup>
    <tbody> 
        {% for eina in activitat.eines %}
        <tr>
            <td><span class="lbl">{{ eina.nom }}</span></td>
            <td class="bd">{{ eina.resum.comunicacio.clicsAcumulats }}</td>
            <td class="bd-open">{{ eina.resum.comunicacio.ultimaConnexio }}</td>
            <td class="bd-open">{{ eina.resum.comunicacio.ultimaConnexioCampus }}</td>
            <td class="bd-open">{{ eina.resum.comunicacio.ultimaConnexioWidget }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>