<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es" dir="ltr" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" dir="ltr" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" dir="ltr" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" dir="ltr" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ t('aules') }}{% endblock %}</title>
    <meta name="description" content="<%= title %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="stylesheet" type="text/css" href="/app/guaita/css/aulas.css" media="all">
</head>
<body>
    {% include 'ga.html' %}
    {% block content %}{% endblock %}
</body>
</html>