<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es" dir="ltr" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" dir="ltr" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" dir="ltr" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es" dir="ltr" class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="ltr" lang="es">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}Aules{% endblock %}</title>
    <meta name="description" content="<%= title %>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <link rel="stylesheet" type="text/css" href="/css/aulas.css" media="all">
</head>
<body>
    <div id="feedback">
        <a href="#" class="btn-torna">Tornar a la plana aules prèvia</a>
        <a href="https://docs.google.com/forms/d/1Ol5b161Vc912D1NIzqeU2W5IS78cbQb58e2lr3f2Jds/viewform?javascriptDisabled=false" class="btn-incidencia LaunchesOWin">Entra una incidència/millora</a>
        <!--<a href="#" class="btn-millora LaunchesOWin">Ajuda'ns a millorar</a>-->
        <img src="/img/beta.png" class="right" />
    </div>
    {% block content %}{% endblock %}
</body>
</html>