{% extends 'layout.html' %}
{% block title %}Aules: PRA{% endblock %}
{% block content %}
<!-- container -->
<div id="container" class="pra">

    <ul id="accessibility" class="visuallyhidden">
        <li><a href="#menu" accesskey="m" title="Acceso directo al menu de navegación">Acceso directo al menú de navegación</a></li>
        <li><a href="#content" accesskey="s" title="Acceso directo al contenido">Acceso directo al contenido</a></li>
    </ul>

    <noscript>
        <div class="alertjs-container">
            <div class="alertjs">
                <h5>JavaScript no está habilitado en tu navegador</h5>
                <p>Para acceder a todas las características, activa JavaScript o actualiza tu navegador con una versión que acepte JavaScript.</p>
            </div>
        </div>
    </noscript>

    <div id="main" class="clearfix">

        <div id="header">

            <div id="menu" class="nav clearfix">
                <select name="menu-select" id="menu-select">
                    <option value="1">Programa d’estudis: Grau de Dret</option>
                    <option value="2">Lorem ipsum dolore sit consecutur dolor sit amget maxima</option>
                    <option value="3">Morbi aliquam magna non nunc elementum dictum</option>
                </select>
            </div>

        </div><!-- /header -->
        <div id="content" class="full-width">

            <ul class="blocks sortable">

                {% for assignatura in object.subjects %}
                {% set object.current = assignatura %}
                {% set session = object.s %}
                {% include "assignatura-resum.html" %}
                {% endfor %}

            </ul><!-- /blockS -->

        </div><!-- /content -->

    </div><!-- /main -->

    <div id="footer" class="clearfix"></div>
    <div id="sombra-top"></div>

</div><!-- /container -->

<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/js/spin.min.js"></script>
<script type="text/javascript" src="/js/helper.js"></script>
<script type="text/javascript" src="/js/aulas.js"></script>
<script>
    $(document).ready(function() {
        UOCAulas.init('pra', '{{ session }}');
    });
</script>
{% endblock %}