{% extends 'layout.html' %}
{% block title %}Aules: PRA{% endblock %}
{% block content %}
<!-- container -->
<div id="container" class="pra">

    <ul id="accessibility" class="visuallyhidden">
        <li><a href="#menu" accesskey="m" title="Acceso directo al menu de navegación">Acceso directo al menú de navegación</a></li>
        <li><a href="#content" accesskey="s" title="Acceso directo al contenido">Acceso directo al contenido</a></li>
    </ul>

    <noscript>
        <div class="alertjs-container">
            <div class="alertjs">
                <h5>JavaScript no está habilitado en tu navegador</h5>
                <p>Para acceder a todas las características, activa JavaScript o actualiza tu navegador con una versión que acepte JavaScript.</p>
            </div>
        </div>
    </noscript>

    <div id="main" class="clearfix">

        <div id="header">

            <div id="menu" class="nav clearfix">
                <select name="menu-select" id="menu-select">
                    <option value="1">Programa d’estudis: Grau de Dret</option>
                    <option value="2">Lorem ipsum dolore sit consecutur dolor sit amget maxima</option>
                    <option value="3">Morbi aliquam magna non nunc elementum dictum</option>
                </select>
            </div>

        </div><!-- /header -->
        <div id="content" class="full-width">

            <ul class="blocks sortable">

                <li class="block accordion" id="module_1" data-id="1">

                    <div class="block-head">
                        <h3><span class="lbl">03.505 Tècniques d´expressió argumentació i negociació</span></h3>
                        <ul class="block-top">
                            <li><span class="icon-move" title="Ordenar"><i class="icon"></i></span></li>
                        </ul>
                    </div>
                    
                    
                    <div id="content_1" class="block-content">
                        
                    </div>

                    <div id="resum_1" class="block-resum">
                        <table class="tbl tbl-resum">
                            <caption>Resum: Tècniques d´expressió argumentació i negociació</caption>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:12%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:15%">
                                <col style="width:15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">Aulas Totales</th>
                                    <th colspan="2" class="bd">Estudiantes</th>
                                    <th colspan="3" class="bd">Comunicación Actividades y Herramientas</th>
                                    <th colspan="2" class="bd">Evaluación</th>
                                </tr>
                                <tr>
                                    <th class="bd"><span class="icon-student" title="Estudiantes"></span></th>
                                    <th><span class="icon-repeater" title="Repetidores"></span></th>
                                    <th class="bd">Clics acumulados</th>
                                    <th>Lecturas pendientes acumuladas</th>
                                    <th><span class="em">Lecturas pendientes /</span> Paricipaciones totales</th>
                                    <th class="bd">Seguiment AC</th>
                                    <th>Superació AC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td class="bd">103</td>
                                    <td>5</td>
                                    <td class="bd">38586</td>
                                    <td>59694</td>
                                    <td><span class="em">14 /</span> 2030</td>
                                    <td class="bd">90,99 %</td>
                                    <td>87,56 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </li><!-- /block -->

                <li class="block accordion" id="module_2"  data-id="2">

                    <div class="block-head">
                        <h3><span class="lbl">03.515 Dret financer i tributari I</span></h3>
                        <ul class="block-top">
                            <li><span class="icon-move" title="Ordenar"><i class="icon"></i></span></li>
                        </ul>
                    </div>
                    
                    
                    <div id="content_2" class="block-content">
                        
                    </div>

                    <div id="resum_2" class="block-resum">
                        <table class="tbl tbl-resum">
                            <caption>Resum: Dret financer i tributari I</caption>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:12%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:15%">
                                <col style="width:15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">Aulas Totales</th>
                                    <th colspan="2" class="bd">Estudiantes</th>
                                    <th colspan="3" class="bd">Comunicación Actividades y Herramientas</th>
                                    <th colspan="2" class="bd">Evaluación</th>
                                </tr>
                                <tr>
                                    <th class="bd"><span class="icon-student" title="Estudiantes"></span></th>
                                    <th><span class="icon-repeater" title="Repetidores"></span></th>
                                    <th class="bd">Clics acumulados</th>
                                    <th>Lecturas pendientes acumuladas</th>
                                    <th><span class="em">Lecturas pendientes /</span> Paricipaciones totales</th>
                                    <th class="bd">Seguiment AC</th>
                                    <th>Superació AC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td class="bd">103</td>
                                    <td>5</td>
                                    <td class="bd">1078586</td>
                                    <td>59694</td>
                                    <td><span class="em">1764 /</span> 20530</td>
                                    <td class="bd">90,99 %</td>
                                    <td>87,56 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </li><!-- /block -->

                <li class="block accordion" id="module_3"  data-id="3">

                    <div class="block-head">
                        <h3><span class="lbl">03.516 Dret financer i tributari II</span></h3>
                        <ul class="block-top">
                            <li><span class="icon-move" title="Ordenar"><i class="icon"></i></span></li>
                        </ul>
                    </div>
                    
                    
                    <div id="content_3" class="block-content">
                        
                    </div>

                    <div id="resum_3" class="block-resum">
                        <table class="tbl tbl-resum">
                            <caption>Resum: Dret financer i tributari II</caption>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:12%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:15%">
                                <col style="width:15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">Aulas Totales</th>
                                    <th colspan="2" class="bd">Estudiantes</th>
                                    <th colspan="3" class="bd">Comunicación Actividades y Herramientas</th>
                                    <th colspan="2" class="bd">Evaluación</th>
                                </tr>
                                <tr>
                                    <th class="bd"><span class="icon-student" title="Estudiantes"></span></th>
                                    <th><span class="icon-repeater" title="Repetidores"></span></th>
                                    <th class="bd">Clics acumulados</th>
                                    <th>Lecturas pendientes acumuladas</th>
                                    <th><span class="em">Lecturas pendientes /</span> Paricipaciones totales</th>
                                    <th class="bd">Seguiment AC</th>
                                    <th>Superació AC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td class="bd">103</td>
                                    <td>5</td>
                                    <td class="bd">38586</td>
                                    <td>59694</td>
                                    <td><span class="em">14 /</span> 2030</td>
                                    <td class="bd">90,99 %</td>
                                    <td>87,56 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </li><!-- /block -->

                <li class="block accordion" id="module_4" data-id="4">

                    <div class="block-head">
                        <h3><span class="lbl">03.510 Sistema constitucional espanyol</span></h3>
                        <ul class="block-top">
                            <li><span class="icon-move" title="Ordenar"><i class="icon"></i></span></li>
                        </ul>
                    </div>
                    
                    
                    <div id="content_4" class="block-content">  
                    </div>

                    <div id="resum_4" class="block-resum">
                        <table class="tbl tbl-resum">
                            <caption>Resum: Sistema constitucional espanyol</caption>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:12%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:15%">
                                <col style="width:15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">Aulas Totales</th>
                                    <th colspan="2" class="bd">Estudiantes</th>
                                    <th colspan="3" class="bd">Comunicación Actividades y Herramientas</th>
                                    <th colspan="2" class="bd">Evaluación</th>
                                </tr>
                                <tr>
                                    <th class="bd"><span class="icon-student" title="Estudiantes"></span></th>
                                    <th><span class="icon-repeater" title="Repetidores"></span></th>
                                    <th class="bd">Clics acumulados</th>
                                    <th>Lecturas pendientes acumuladas</th>
                                    <th><span class="em">Lecturas pendientes /</span> Paricipaciones totales</th>
                                    <th class="bd">Seguiment AC</th>
                                    <th>Superació AC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td class="bd">103</td>
                                    <td>5</td>
                                    <td class="bd">38586</td>
                                    <td>59694</td>
                                    <td><span class="em">14 /</span> 2030</td>
                                    <td class="bd">90,99 %</td>
                                    <td>87,56 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </li><!-- /block -->

                <li class="block accordion" id="module_5" data-id="5">

                    <div class="block-head">
                        <h3><span class="lbl">03.535 Drets Humans</span></h3>
                        <ul class="block-top">
                            <li><span class="icon-move" title="Ordenar"><i class="icon"></i></span></li>
                        </ul>
                    </div>
                    
                    
                    <div id="content_5" class="block-content">

                    </div>

                    <div id="resum_5" class="block-resum">
                        <table class="tbl tbl-resum">
                            <caption>Resum: Drets Humans</caption>
                            <colgroup>
                                <col style="width:10%">
                                <col style="width:6%">
                                <col style="width:6%">
                                <col style="width:12%">
                                <col style="width:18%">
                                <col style="width:18%">
                                <col style="width:15%">
                                <col style="width:15%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th rowspan="2">Aulas Totales</th>
                                    <th colspan="2" class="bd">Estudiantes</th>
                                    <th colspan="3" class="bd">Comunicación Actividades y Herramientas</th>
                                    <th colspan="2" class="bd">Evaluación</th>
                                </tr>
                                <tr>
                                    <th class="bd"><span class="icon-student" title="Estudiantes"></span></th>
                                    <th><span class="icon-repeater" title="Repetidores"></span></th>
                                    <th class="bd">Clics acumulados</th>
                                    <th>Lecturas pendientes acumuladas</th>
                                    <th><span class="em">Lecturas pendientes /</span> Paricipaciones totales</th>
                                    <th class="bd">Seguiment AC</th>
                                    <th>Superació AC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3</td>
                                    <td class="bd">103</td>
                                    <td>5</td>
                                    <td class="bd">38586</td>
                                    <td>59694</td>
                                    <td><span class="em">14 /</span> 2030</td>
                                    <td class="bd">90,99 %</td>
                                    <td>87,56 %</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </li><!-- /block -->


            </ul><!-- /blockS -->


        </div><!-- /content -->

    </div><!-- /main -->

    <div id="footer" class="clearfix"></div>
    <div id="sombra-top"></div>

</div><!-- /container -->

<script type="text/javascript" src="../js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<script type="text/javascript" src="../js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="../js/spin.min.js"></script>
<script type="text/javascript" src="../js/helper.js"></script>
<script type="text/javascript" src="../js/aulas.js"></script>
<script>
    $(document).ready(function() {
        UOCAulas.init('pra');
    });
</script>
{% endblock %}