<div class="block-inside">
	<div class="tabs-header">
		<ul>
			<li class="students-header">
				<span class="wrap-lbl">
					<span class="icon"></span>
					<span class="lbl">Estudiants</span>
				</span>
			</li>
		    <li class="consultors-header">
		    	<span class="wrap-lbl">
		    		<span class="icon"></span>
					<span class="lbl">Consultors</span>
				</span>
			</li>

		</ul>
	</div>
	<div class="tabs">
		<ul>
	    	<li><a href="#tabs-1" class="tab tab-1">Activitats</a></li>
	    	<li><a href="#tabs-2" class="tab tab-2">Eines</a></li>
	    	<li><a href="#tabs-3" class="tab tab-3">Avaluació</a></li>
	    	<li><a href="#tabs-4" class="tab tab-4">Activitats</a></li>
	    	<li><a href="#tabs-5" class="tab tab-5">Eines</a></li>
		</ul>
		{% include 'aula-estudiants-activitats.html' %}
		{% include 'aula-estudiants-eines.html' %}
		{% include 'aula-estudiants-avaluacio.html' %}
		{% include 'aula-consultors-activitats.html' %}
		{% include 'aula-consultors-eines.html' %}
	</div>
	<div class="tabs-links-wrap">
		<div class="tabs-links">
			<a href="{{ assignatura.linkfitxaassignatura }}" class="lnk-extern">Fitxa de l'assignatura<i class="icon"></i></a>
			<a href="{{ assignatura.linkedicioaula }}" class="lnk-extern">Disseny de l'aula<i class="icon"></i></a>
		</div>
	</div>
</div>