        <ul class="llistaBlock">
            <li class="aula-item">

                {% set activa = widget.actives|last %}

                {% if activa %}
                <h4 class="text-color"><a target="grid" class="link" href="{{ activa.link }}" title="{{ activa.name }}">{{ activa.name }}</a></h4>
                <ul class="decorada llistaBlock">
                    <li>
                        <div class="aula-data">
                            <span><span>{{ t('inici') }}: <strong>{{ activa.startDateStr }}</strong></span></span>
                            <span><span>{{ t('fi') }}: <strong>{{ activa.deliveryDateStr }}</strong></span></span>
                        </div>
                    </li>
                    {% if activa.eines %}
                    {% for eina in activa.eines %}
                    {% if eina.mostrar %}
                    <li>
                        <a class="link" target="wevento" href="{{ eina.viewItemsUrl }}" title="{{ eina.nom }}" data-bocamoll-object-resourceid="{{ eina.resourceId }}" data-bocamoll-object-idtipolink="{{ eina.idTipoLink }}" data-bocamoll-object-description="{{ eina.nom }}">{{ eina.nom }}
                            {% if eina.num_msg_totals > 0 %}
                            <span class="marcadors">
                                <span title="{{ t('missatges_nous') }}" class="{{ eina.num_msg_pendents_class }}">{{ eina.num_msg_pendents }}</span>
                                <span class="amagar">{{ t('missatges_nous_de') }}</span>
                                <span title="{{ t('missatges_totals') }}" class="total">{{ eina.num_msg_totals }}</span>
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endif %}
            </li>
            <li class="aula-item">
                <h4 class="text-color"><a target="grid" class="link" href="{{ widget.urlAula }}" title="{{ t('comunicacio_aula') }}">{{ t('comunicacio_aula') }}</a></h4>
                <ul class="decorada llistaBlock">
                    {% if widget.eines %}
                    {% for eina in widget.eines %}
                    {% if eina.mostrar %}
                    <li>
                        <a class="link" target="wevento" href="{{ eina.viewItemsUrl }}" title="{{ eina.nom }}" data-bocamoll-object-resourceid="{{ eina.resourceId }}" data-bocamoll-object-idtipolink="{{ eina.idTipoLink }}" data-bocamoll-object-description="{{ eina.nom }}">{{ eina.nom }}
                            {% if eina.num_msg_totals > 0 %}
                            <span class="marcadors">
                                <span title="{{ t('missatges_nous') }}" class="{{ eina.num_msg_pendents_class }}">{{ eina.num_msg_pendents }}</span>
                                <span class="amagar">{{ t('missatges_nous_de') }}</span>
                                <span title="{{ t('missatges_totals') }}" class="total">{{ eina.num_msg_totals }}</span>
                            </span>
                            {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </li>
        </ul>       

        <ul class="decorada llistaBlock">
            <li>
                <a class="link" target="wevento" href="{{ widget.urlAvaluacio }}" onclick="oWin(this.href);return false;" data-bocamoll-object-link="{{ widget.domainId }}" data-bocamoll-object-idtipolink="RAC">{{ t('registre_avaluacio_continuada') }}</a>
            </li>
            <li class="ultim">
                <a target="grid" href="{{ widget.urlAula }}" data-bocamoll-object-domainid="{{ widget.domainId }}">
                    <span class="noLink">{{ t('estudiants_connectats') }} ({{ widget.connectats }})</span>
                </a>
            </li>
        </ul>